{{!--
This footer template is shared across all the pages.
--}}
<footer class="footer">
  <div class="container">
    <div class="navigation__footer">
      <div class="copyright">
        <div class="copy">CloudPayments © 2014–2021</div>
      </div>
      <div class="navigation__contacts">
        <div class="navigation__contacts_callback">
          <a href="tel:+7 495 374-78-60">+7 495 374-78-60</a>
          <a href="mailto:sales@cloudpayments.ru">sales@cloudpayments.ru</a>
        </div>
      </div>
      <div class="navigation__social">
        <div class="social">
          <ul class="social_nav">
            <li>
              <a href="https://www.facebook.com/cloudpayments/">
                <svg width="13" height="25" viewBox="0 0 13 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8.26641H2.78494V5.75469C2.78494 4.64766 2.81509 2.93984 3.68181 1.88125C4.59415 0.760937 5.849 0 8.0069 0C11.5209 0 13 0.464844 13 0.464844L12.3049 4.29375C12.3049 4.29375 11.1421 3.98203 10.0604 3.98203C8.97645 3.98203 8.00767 4.34219 8.00767 5.34766V8.26719H12.4495L12.1387 12.0078H8.0069V25H2.78571V12.0078H0.000773165V8.26719L0 8.26641Z" fill="#1B96FE"/>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/cloudpayments/">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5527 0C16.0033 0.00328357 16.4722 0.0207296 17.653 0.0746097C18.9835 0.135293 19.8922 0.346619 20.6873 0.655643C21.5092 0.975038 22.2063 1.40245 22.9013 2.09736C23.5962 2.79232 24.0236 3.48941 24.3431 4.31139C24.652 5.10648 24.8634 6.01514 24.924 7.34562C24.9849 8.67887 24.9993 9.10455 24.9993 12.4993C24.9993 15.8941 24.9849 16.3198 24.924 17.653C24.8634 18.9835 24.652 19.8922 24.3431 20.6873C24.0236 21.5092 23.5962 22.2063 22.9013 22.9013C22.2063 23.5962 21.5092 24.0236 20.6873 24.3431C19.8922 24.652 18.9835 24.8634 17.653 24.924C16.3198 24.9849 15.8941 24.9993 12.4993 24.9993C9.10455 24.9993 8.67887 24.9849 7.34562 24.924C6.01514 24.8634 5.10648 24.652 4.31139 24.3431C3.48941 24.0236 2.79232 23.5962 2.09736 22.9013C1.40245 22.2063 0.975038 21.5092 0.655643 20.6873C0.346619 19.8922 0.135293 18.9835 0.0746097 17.653C0.0207296 16.4722 0.00328357 16.0033 0 13.5527V11.446C0.00328357 8.99539 0.0207296 8.5265 0.0746097 7.34562C0.135293 6.01514 0.346619 5.10648 0.655643 4.31139C0.975038 3.48941 1.40245 2.79232 2.09736 2.09736C2.79232 1.40245 3.48941 0.975038 4.31139 0.655643C5.10648 0.346619 6.01514 0.135293 7.34562 0.0746097C8.5265 0.0207296 8.99539 0.00328357 11.446 0H13.5527ZM12.7783 2.25162H12.2204C9.13836 2.25239 8.72869 2.26609 7.44828 2.32451C6.22955 2.38009 5.56768 2.58372 5.12722 2.75491C4.54375 2.98166 4.12736 3.25253 3.68997 3.68997C3.25253 4.12736 2.98166 4.54375 2.75491 5.12722C2.58372 5.56768 2.38009 6.22955 2.32451 7.44828C2.26438 8.76635 2.25162 9.16171 2.25162 12.4993V12.7783C2.25239 15.8603 2.26609 16.27 2.32451 17.5504C2.38009 18.7691 2.58372 19.431 2.75491 19.8714C2.98166 20.4549 3.25258 20.8713 3.68997 21.3087C4.12736 21.7461 4.54375 22.017 5.12722 22.2437C5.56768 22.4149 6.22955 22.6186 7.44828 22.6741C8.7662 22.7343 9.16146 22.747 12.4993 22.747H12.7783C15.8605 22.7463 16.2702 22.7326 17.5504 22.6741C18.7691 22.6186 19.431 22.4149 19.8714 22.2437C20.4549 22.017 20.8713 21.7461 21.3087 21.3087C21.7461 20.8713 22.017 20.4549 22.2437 19.8714C22.4149 19.431 22.6186 18.7691 22.6741 17.5504C22.7343 16.2323 22.747 15.8369 22.747 12.4993V12.2204C22.7463 9.13836 22.7326 8.72869 22.6741 7.44828C22.6186 6.22955 22.4149 5.56768 22.2437 5.12722C22.017 4.54375 21.7461 4.12736 21.3087 3.68997C20.8713 3.25253 20.4549 2.98166 19.8714 2.75491C19.431 2.58372 18.7691 2.38009 17.5504 2.32451C16.2323 2.26438 15.8369 2.25162 12.4993 2.25162H12.7783ZM12.4993 6.08044C16.0444 6.08044 18.9182 8.95425 18.9182 12.4993C18.9182 16.0444 16.0444 18.9182 12.4993 18.9182C8.95425 18.9182 6.08044 16.0444 6.08044 12.4993C6.08044 8.95425 8.95425 6.08044 12.4993 6.08044ZM12.4993 8.33268C10.1981 8.33268 8.33268 10.1981 8.33268 12.4993C8.33268 14.8005 10.1981 16.666 12.4993 16.666C14.8005 16.666 16.666 14.8005 16.666 12.4993C16.666 10.1981 14.8005 8.33268 12.4993 8.33268ZM19.1718 4.32682C20.0002 4.32682 20.6718 4.99841 20.6718 5.82684C20.6718 6.65527 20.0002 7.32681 19.1718 7.32681C18.3434 7.32681 17.6718 6.65527 17.6718 5.82684C17.6718 4.99841 18.3434 4.32682 19.1718 4.32682Z" fill="#1B96FE"/>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://vk.com/cloudpayments">
                <svg width="46" height="25" viewBox="0 0 46 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.5055 24.895H25.2563C25.2563 24.895 26.0856 24.8083 26.5092 24.3716C26.8996 23.9724 26.8873 23.2216 26.8873 23.2216C26.8873 23.2216 26.8349 19.7077 28.5461 19.1905C30.2333 18.6796 32.4018 22.5865 34.699 24.088C36.4378 25.2255 37.7562 24.977 37.7562 24.977L43.9007 24.8942C43.9007 24.8942 47.1142 24.706 45.5895 22.299C45.4655 22.1021 44.7016 20.5186 41.0214 17.2648C37.1702 13.8586 37.6869 14.4086 42.3259 8.51813C45.1505 4.92995 46.2818 2.73938 45.9275 1.80269C45.591 0.907404 43.5133 1.1449 43.5133 1.1449L36.5965 1.1863C36.5965 1.1863 36.0844 1.11834 35.704 1.33552C35.3328 1.54879 35.094 2.04253 35.094 2.04253C35.094 2.04253 33.9975 4.81823 32.5389 7.17988C29.4578 12.1618 28.2272 12.425 27.7236 12.1149C26.5531 11.3954 26.8465 9.21967 26.8465 7.6744C26.8465 2.84485 27.6127 0.833187 25.3487 0.311327C24.5978 0.137894 24.0442 0.023835 22.1205 0.00508551C19.6516 -0.0175701 17.5632 0.013679 16.3826 0.563664C15.5948 0.931622 14.9888 1.74879 15.3576 1.79644C15.8135 1.85425 16.8493 2.06284 17.3984 2.77454C18.1084 3.69248 18.0822 5.75492 18.0822 5.75492C18.0822 5.75492 18.4903 11.4384 17.1311 12.1454C16.2001 12.6289 14.9187 11.6407 12.1749 7.11973C10.768 4.80573 9.70603 2.24487 9.70603 2.24487C9.70603 2.24487 9.49965 1.76675 9.1354 1.51051C8.6926 1.20271 8.07345 1.10271 8.07345 1.10271L1.49928 1.14412C1.49928 1.14412 0.513573 1.16912 0.150865 1.57848C-0.172569 1.94253 0.124683 2.69563 0.124683 2.69563C0.124683 2.69563 5.27036 14.1641 11.0976 19.9405C16.4404 25.2411 22.5063 24.8934 22.5063 24.8934L22.5055 24.895Z" fill="#1B96FE"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>

<!--
<footer class="m-footer">
  <div class="m-footer__content">

    {{!-- тут logo --}}

    <div class="m-footer__parent">
      <svg width="192" height="24" viewBox="0 0 192 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0 11.6625C0 7.81977 2.83146 4.9209 6.74157 4.9209C9.91011 4.9209 12.6742 6.80854 13.2135 10.1119H9.77528C9.37079 8.69618 8.1573 8.02202 6.80899 8.02202C4.78652 8.02202 3.4382 9.50517 3.4382 11.6625C3.4382 13.8198 4.78652 15.3029 6.74157 15.3029C8.1573 15.3029 9.37079 14.6288 9.77528 13.213H13.2135C12.6742 16.6512 9.8427 18.4715 6.74157 18.4715C2.83146 18.404 0 15.5052 0 11.6625Z"
          fill="#000E27"/>
        <path d="M15.3708 0H18.7416V18.1348H15.3708V0Z" fill="#000E27"/>
        <path
          d="M34.6517 11.6625C34.6517 15.5726 31.6854 18.404 27.9101 18.404C24.1348 18.404 21.1685 15.5052 21.1685 11.6625C21.1685 7.75236 24.2022 4.9209 27.9101 4.9209C31.618 4.9209 34.6517 7.75236 34.6517 11.6625ZM24.5393 11.6625C24.5393 13.8198 26.0225 15.2355 27.9101 15.2355C29.7977 15.2355 31.2809 13.8198 31.2809 11.6625C31.2809 9.57258 29.7977 8.08944 27.9101 8.08944C25.955 8.08944 24.5393 9.50517 24.5393 11.6625Z"
          fill="#000E27"/>
        <path
          d="M48.8764 5.19141V18.1352H45.5056V16.315C44.5618 17.6633 43.2809 18.4049 41.5281 18.4049C38.6966 18.4049 36.9438 16.4498 36.9438 13.2813V5.19141H40.3146V12.6071C40.3146 14.2925 40.9213 15.2364 42.6742 15.2364C44.5618 15.2364 45.573 14.1577 45.573 12.0004V5.19141H48.8764Z"
          fill="#000E27"/>
        <path
          d="M64.7865 0V18.1348H61.4157V16.382C60.5393 17.5955 59.1236 18.4045 57.3708 18.4045C54 18.4045 51.4382 15.6404 51.4382 11.6629C51.4382 7.68539 54 4.92135 57.3034 4.92135C59.1236 4.92135 60.5393 5.79775 61.4157 7.01124V0H64.7865ZM61.4157 11.6629C61.4157 9.57303 60 8.08989 58.1124 8.08989C56.2247 8.08989 54.809 9.50562 54.809 11.6629C54.809 13.8202 56.2247 15.236 58.1124 15.236C59.9326 15.236 61.4157 13.8202 61.4157 11.6629Z"
          fill="#000E27"/>
        <path
          d="M82.9888 11.6625C82.9888 15.64 80.427 18.404 77.0562 18.404C75.236 18.404 73.8876 17.5951 72.9438 16.3816V23.9995H69.573V5.19056H72.9438V7.01079C73.8202 5.72989 75.236 4.9209 77.0562 4.9209C80.3595 4.9209 82.9888 7.68494 82.9888 11.6625ZM79.5506 11.6625C79.5506 9.57258 78.1348 8.08944 76.2472 8.08944C74.3595 8.08944 72.9438 9.50517 72.9438 11.6625C72.9438 13.8198 74.3595 15.2355 76.2472 15.2355C78.1348 15.2355 79.5506 13.8198 79.5506 11.6625Z"
          fill="#2E71FC"/>
        <path
          d="M98.3595 5.19056V18.1344H94.9888V16.3816C94.1124 17.5951 92.764 18.404 90.9438 18.404C87.573 18.404 85.0112 15.64 85.0112 11.6625C85.0112 7.68494 87.573 4.9209 90.8764 4.9209C92.6966 4.9209 94.0449 5.7973 94.9888 7.01079V5.19056H98.3595ZM94.9888 11.6625C94.9888 9.57258 93.573 8.08944 91.6854 8.08944C89.7977 8.08944 88.382 9.50517 88.382 11.6625C88.382 13.8198 89.7977 15.2355 91.6854 15.2355C93.573 15.2355 94.9888 13.8198 94.9888 11.6625Z"
          fill="#2E71FC"/>
        <path
          d="M113.865 5.19144L105.438 24.0004H101.865L105.236 16.3824L100.247 5.12402H103.82L106.989 12.6746L110.225 5.12402H113.865V5.19144Z"
          fill="#2E71FC"/>
        <path
          d="M135.64 9.9097V18.1344H132.27V10.6513C132.27 9.03329 131.663 8.08947 130.045 8.08947C128.292 8.08947 127.348 9.23554 127.348 11.3254V18.1344H123.978V10.6513C123.978 9.03329 123.371 8.08947 121.753 8.08947C120 8.08947 119.056 9.23554 119.056 11.3254V18.1344H115.685V5.19059H119.056V6.87599C120 5.59509 121.213 4.85352 122.899 4.85352C124.787 4.85352 126.135 5.72992 126.809 7.28048C127.753 5.72992 129.236 4.85352 131.124 4.85352C133.955 4.92093 135.64 6.80857 135.64 9.9097Z"
          fill="#2E71FC"/>
        <path
          d="M151.281 12.5389H141.371C141.573 14.6288 142.989 15.64 144.742 15.64C146.022 15.64 147.169 15.0333 147.64 14.0221H151.146C150.202 17.0558 147.573 18.4041 144.809 18.4041C140.764 18.4041 138 15.5052 138 11.6625C138 7.75239 140.831 4.85352 144.742 4.85352C148.989 4.92093 151.618 8.29172 151.281 12.5389ZM141.506 10.0445H147.708C147.303 8.6288 146.292 7.68498 144.674 7.68498C142.989 7.68498 141.978 8.69621 141.506 10.0445Z"
          fill="#2E71FC"/>
        <path
          d="M165.64 9.97708V18.067H162.27V10.6512C162.27 8.96584 161.663 8.02202 159.843 8.02202C157.955 8.02202 156.944 9.10067 156.944 11.258V18.067H153.573V5.19056H156.944V6.94337C157.888 5.59506 159.169 4.9209 160.989 4.9209C163.888 4.9209 165.64 6.80854 165.64 9.97708Z"
          fill="#2E71FC"/>
        <path
          d="M178.315 17.3934C177.64 17.8654 176.022 18.4047 174.472 18.4047C171.91 18.4047 169.618 16.8541 169.618 13.1463V8.35974H167.326V5.1912H169.618V2.35974L172.989 1.61816V5.12378H177.775V8.29232H172.989V12.8766C172.989 14.4272 173.73 15.2361 175.079 15.2361C175.82 15.2361 176.697 14.9665 177.775 14.6294L178.315 17.3934Z"
          fill="#2E71FC"/>
        <path
          d="M179.663 13.8872H183.101C183.371 14.8984 184.112 15.64 186.202 15.64C187.685 15.64 188.36 15.3029 188.36 14.5613C188.36 13.6849 187.348 13.6175 185.393 13.1456C181.753 12.2692 180.202 11.4602 180.202 9.2355C180.202 6.47146 182.494 4.9209 185.865 4.9209C189.438 4.9209 191.258 6.67371 191.663 9.03326H188.225C187.955 8.22427 187.281 7.68494 185.73 7.68494C184.382 7.68494 183.573 8.08944 183.573 8.76359C183.573 9.37034 184.18 9.50517 186.067 9.90966C189.775 10.7861 191.865 11.4602 191.865 14.022C191.865 16.9209 189.303 18.3366 186.067 18.3366C182.697 18.404 180.135 16.7187 179.663 13.8872Z"
          fill="#2E71FC"/>
      </svg>
      <p class="m-footer-copyright">
        <span>{{@site.title}} &copy; 2014-{{date format="YYYY"}}</span>
      </p>
    </div>
    <div class="m-footer__parent">
      <p class="m-footer__title">
        <a href="/">Общая информация</a>
      </p>
      <p class="m-footer__title">
        <a href="/">Разработчикам</a>
      </p>
      <p class="m-footer__title">
        <a href="/">54-ФЗ</a>
      </p>
      <p class="m-footer__title">
        <a href="/">Поддержка</a>
      </p>
      <p class="m-footer__title">
        <a href="/">Войти</a>
      </p>
      {{!-- {{#if @site.secondary_navigation}}
        <nav class="m-footer__nav-secondary" role="navigation" aria-label="{{t "Secondary menu in footer"}}">
          {{navigation type="secondary"}}
        </nav>
      {{/if}} --}}
    </div>
    <div class="m-footer__parent">
      <p class="m-footer__title">
        <span>Решения для бизнеса</span>
      </p>
      <p class="m-footer__item">
        <a href="/">Общественное питание</a>
      </p>
      <p class="m-footer__item">
        <a href="/">Финансы</a>
      </p>
      <p class="m-footer__item">
        <a href="/">Обучение</a>
      </p>
      <p class="m-footer__item">
        <a href="/">Развлечения</a>
      </p>
      <p class="m-footer__item">
        <a href="/">Маркетплейсы</a>
      </p>
    </div>
    <div class="m-footer__parent">
      <p class="m-footer__title">
        <span>Контакты</span>
      </p>
      <p class="m-footer__item">
        <a href="tel:+74953747860">+7 495 374-78-60 </a>
      </p>
      <p class="m-footer__item">
        <a href="mailto:ales@cloudpayments.ru?subject=Вопрос по cloudpayments">sales@cloudpayments.ru</a>
      </p>
      <nav class="m-footer-social">
        <a href="https://www.instagram.com/cloudpayments/" aria-label="instagram">
          <span class="icon-instagram" aria-hidden="true"></span>
        </a>
        {{#if @site.facebook}}
          <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
            <span class="icon-facebook" aria-hidden="true"></span>
          </a>
        {{/if}}
        <a href="https://vk.com/cloudpayments" aria-label="vk">
          <span class="icon-vk" aria-hidden="true"></span>
        </a>
        {{!-- <a href="{{@site.url}}/rss" aria-label="RSS">
          <span class="icon-rss" aria-hidden="false"></span>
        </a> --}}
      </nav>
    </div>
  </div>
</footer>
-->
